transformers
clap @ git+https://github.com/markjosims/clap-ipa.git
scikit-learn
scipy
torch
torchaudio
soundfile; sys_platform == 'win32'
sox ; platform_machine == 'x86_64' and sys_platform == 'linux'
